/*
* @Author: Issac
* @Date:   2017-08-14 07:54:43
* @Last Modified by:   Issac
* @Last Modified time: 2017-08-14 10:16:59
*/
body{
	margin:0;
}
.root{
	text-align:center;
}
#container{
	margin-top:100px;
	text-align:center;
}
#container h1{
	font-size: 60px;
	color:#57c5f7;
}
#container a{
	font-size: 14px;
	width:40%;
	margin:5px;
}